.actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.actions button {
  background-color: red;
  padding: 20px 15px;
  border-radius: 5px;
  color: white;
  border: 3px solid white;
  margin: 0 10px;
}

.actions button:hover {
  background-color: black;
  color: red;
}

.card {
  border: 1px solid red;
  margin: 0 auto;
  height: 85%;
  width: 75%;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 10px red;
  position: relative;
  top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card h1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.container {
  color: red;
  background-color: black;
  text-align: center;
  height: 100vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form input[type='text'] {
  color: red;
  margin: 0 3px;
  border: 1px solid red;
  width: 40%;
}

.form input[type='text']:focus {
  outline: none;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 6px 8px;
  height: auto;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
}

.form button:hover {
  background-color: black;
  color: red;
}

.form-container {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
}

.image-container {
  margin-top: 20px;
  width: 60%;
  height: 60%;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}

/* Mobile to Small Tablets */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: 150px;
  }

  .actions-row {
    display: flex;
    width: 100%;
  }

  .actions button {
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    margin: 5px 10px;
    width: 50%;
    padding: 10px 10px;
    font-size: 0.8em;
  }

  .card {
    height: 85%;
    width: 95%;
    position: relative;
    top: 80px;
  }

  .card h1 {
    margin-top: 15px;
  }

  .form {
    align-items: center;
  }

  .form input[type='text'] {
    width: 75%;
  }

  .form button {
    padding: 5px 8px;
  }

  .image-container {
    width: 92%;
  }
  .image-container img {
    height: 95%;
  }
}

/* Small Tablets to Small Laptops */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .actions button {
    padding: 10px 15px;
  }

  .card {
    top: 85px;
    width: 85%;
  }

  .image-container {
    width: 85%;
  }
}

/* Laptops */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .card {
    position: relative;
    top: 90px;
  }
  .image-container {
    width: 80%;
  }
}
