@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.background-image {
  border-radius: 5px;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #49ff18,
    inset 0 0 1rem #49ff18, 0 0 1rem #49ff18, inset 0 0 0rem #49ff18;
  width: 80%;
  height: 420px;
}

.container {
  height: 100vh;
  background: black;
}

.inner {
  display: flex;
  flex-direction: column;
  /* height:100%; */
  justify-content: center;
}

.description {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px 0px 10px;
  background-color: black;
  color: #49ff18;
  font-size: 1em;
}

.description a {
  background-color: black;
  border: 1px solid #49ff18;
  border-radius: 5px;
  margin-top: 5px;
  padding: 22px 25px;
  color: white;
  text-decoration: none;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.description a:hover {
  background-color: #49ff18;
  border: 1px solid white;
}

.home {
  background-color: black;
  text-align: center;
  color: #49ff18;
  margin-bottom: 125px;
  position: relative;
  top: 105px;
  z-index: 9998;
}

.home h1 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  text-transform: uppercase;
}

.image-container {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 100%;
  padding-bottom: 10px;
  /* height: 100%; */
  color: red;
  margin-top: 20px;
}

.ticker {
  background-color: black;
  color: rgba(255, 0, 0, 0.35);
  padding-top: 32px;
  cursor: pointer;
  transition: color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ticker:hover {
  color: rgba(255, 0, 0, 1);
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .background-image {
    height: 350px;
    width: 88%;
  }

  .description {
    justify-content: center;
    padding: 0;
    font-size: 0.9em;
    flex-direction: column;
    height: 140px;
    justify-content: space-evenly;
  }

  .description p {
    margin-bottom: 0;
  }

  .description a {
    padding: 10px 12px;
    position: relative;
    width: 220px;
  }

  .home {
    margin-top: 70px;
    margin-bottom: 40px;
    top: 0;
    z-index: 1;
  }

  .home h1 {
    font-size: 1.8em;
  }

  .inner {
    justify-content: space-around;
    position: relative;
    top: 30px;
    overflow: hidden;
  }

  .image-container {
    padding-bottom: 10px;
    margin: 0;
  }

  .ticker {
    padding-top: 40px;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .description {
    height: 150px;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .description a {
    width: 250px;
    padding: 12px 15px;
  }

  .home {
    margin-bottom: 125px;
    top: 108px;
    z-index: 9999;
  }

  .inner {
    top: 90px;
  }
}
