.card {
  height: 100vh;
  width: 100%;
  background-color: transparent !important;
}

.footer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.footer img {
  width: 100%;
  height: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: red; */
  color: #49ff18;
  position: relative;
  text-align: center;
  height: 100%;
}

.searchbar {
  width: 100%;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 500px) {
  /* .search {
    top: 130px;
  } */
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* .search {
    top: 160px;
  } */

  .search p {
    margin-bottom: 25px;
    width: 84%;
  }
}
