.actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.85);
  /* width: 75%;
  height: 500px; */
  width: 85%;
  height: 570px;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #49ff18,
    inset 0 0 1rem #49ff18, 0 0 1rem #49ff18, inset 0 0 0rem #49ff18;
  border: 0.4rem solid #fff;
  padding: 0.25rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container button {
  border: 1px solid #49ff18;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  /* width:400px; */
}

.container button:hover {
  background-color: #49ff18;
  border: 1px solid white;
}

.form {
  height: 100%;
  color: #49ff18;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.form button {
  width: 250px;
  padding: 20px 0;
}

.form input {
  font-size: 1.5em;
  width: 70%;
  height: 50px;
  border: 1px solid #49ff18;
  border-radius: 5px;
  outline-width: 0;
  position: relative;
  bottom: 33px;
  line-height: 1.5;
  background: rgba(255, 255, 255, 0.1);
  color: #49ff18;
  animation: extendInputLarge 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s
    1 forwards;
}

.form label {
  font-size: 2em;
  text-transform: uppercase;
  color: #49ff18;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.form label h1 {
  font-size: 2em;
  letter-spacing: 30px;
}

.form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

.form-details > div {
  margin-bottom: 20px;
  font-size: 1.2em;
  width: 90%;
  cursor: default;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.error {
  color: red;
  transition: all 250ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.slot {
  position: relative;
  cursor: pointer;
  height: 50%;
  border: 3px solid #49ff18;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 5px #49ff18, 0 0 10px #49ff18,
    0 0 10px #49ff18, 0 0 15px #49ff18;
}

.slot:active > .slot__right {
  box-shadow: inset -1px 1px 10px 11px #49ff18;
}

.slot__left {
  height: 100%;
  background: transparent;
  border: 6px solid #49ff18;
  width: 30%;
  z-index: 0;
}

.slot__right {
  width: 70%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid #49ff18;
  z-index: 2;
}

.slot__right p {
  color: #49ff18;
  font-size: 1.5em;
  margin: 0;
  padding-top: 2px;
  text-shadow: 0 0 0.15em #49ff18;
  user-select: none;
}

.slot__right p span {
  font-size: 0.8em;
}

.slot__right p:nth-of-type(2) {
  font-size: 0.6em;
  padding-top: 0px;
  text-transform: uppercase;
  line-height: 20px;
}

.coin {
  height: 80%;
  border-radius: 50%;
  background: brown;
  position: absolute;
  left: -30px;
  width: 110px;
  top: 15px;
  z-index: 1;
  transform-style: preserve-3d;
  transform: translateX(-25px);
  /* opacity: 0; */
  animation: insertCoin 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 forwards;
}

.coin .insert {
  animation: insertCoin 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s 1;
}

.slot .coin img {
  height: 100%;
  width: 100%;
}

/* !!!!!!!!!!!!!!!!!!!   ANIMATIONS  !!!!!!!!!!!!!!!!!!! */

/* Animation for extending the input bar on mobile */
@keyframes extendInputSmall {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 85%;
    opacity: 1;
  }
}
@-webkit-keyframes extendInputSmall {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 85%;
    opacity: 1;
  }
}

/* Animation for extending the input bar for tablets to small laptops */
@keyframes extendInputMedium {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes extendInputMedium {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

/* Animation for extending the input bar for laptops and desktops */
@keyframes extendInputLarge {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 70%;
    opacity: 1;
  }
}
@-webkit-keyframes extendInputLarge {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 60%;
    opacity: 1;
  }
}

/* Coin Insert Animation */
@keyframes insertCoin {
  0% {
    opacity: 1;
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(40px);
  }
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .actions {
    flex-direction: column;
    justify-content: space-around;
    /* height: 25%; */
  }

  .card {
    width: 92%;
    height: 580px;
  }

  .form {
    justify-content: space-evenly;
  }

  .form-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
  }

  .form-details > div {
    /* margin-top: 12px; */
    margin-bottom: 0;
    width: 90%;
    font-size: 0.9em;
  }

  .form input {
    font-size: 1.2em;
    margin-bottom: 40px;
    width: 85%;
    bottom: 0px;
    animation: extendInputSmall 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      0.5s 1 forwards;
    height: 30px;
  }

  .form label {
    font-size: 2em;
  }

  .form label h1 {
    font-size: 1.8em;
    letter-spacing: 15px;
    margin-left: 20px;
  }

  .form button {
    font-size: 0.8em;
    width: 200px;
    padding: 10px 0;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .slot {
    cursor: pointer;
    height: 60%;
    border: 3px solid #49ff18;
    width: 45%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 5px #49ff18, 0 0 10px #49ff18,
      0 0 10px #49ff18, 0 0 15px #49ff18;
  }

  .slot__left {
    height: 100%;
    background: black;
    border-left: 6px solid #49ff18;
    border-right: 0px;
    width: 20%;
  }

  .slot__right {
    width: 80%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 6px solid #49ff18;
  }

  .slot__right p {
    color: #49ff18;
    font-size: 1.5em;
    margin: 0;
    padding-top: 2px;
    text-shadow: 0 0 0.2em #49ff18;
  }

  .slot__right p span {
    font-size: 0.7em;
  }

  .slot__right p:nth-of-type(2) {
    font-size: 0.75em;
    padding-top: 0px;
    text-transform: uppercase;
    line-height: 28px;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 95%;
    height: 550px;
  }

  .container button {
    padding: 15px 10px;
    width: 250px;
  }

  .form {
    justify-content: space-evenly;
  }

  .form input {
    height: 40px;
    width: 65%;
    animation: extendInputMedium 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      0.5s 1 forwards;
  }

  .form label h1 {
    font-size: 1.7em;
    letter-spacing: 20px;
    margin-top: 30px;
    margin-left: 25px;
  }

  .form-details {
    justify-content: flex-start;
  }

  .form-details div {
    margin-top: 35px;
    font-size: 1.1em;
    width: 98%;
  }

  .slot {
    cursor: pointer;
    height: 70%;
    border: 3px solid #49ff18;
    width: 35%;
    margin-bottom: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 5px #49ff18, 0 0 10px #49ff18,
      0 0 10px #49ff18, 0 0 15px #49ff18;
  }

  .slot__left {
    height: 100%;
    background: transparent;
    border: 6px solid #49ff18;
    width: 30%;
  }

  .slot__right {
    width: 70%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid #49ff18;
  }

  .slot__right p {
    color: #49ff18;
    font-size: 1.8em;
    margin: 0;
    padding-top: 2px;
    text-shadow: 0 0 0.2em #49ff18;
  }

  .slot__right p span {
    font-size: 0.7em;
  }

  .slot__right p:nth-of-type(2) {
    font-size: 0.8em;
    padding-top: 0px;
    text-transform: uppercase;
    line-height: 28px;
  }
}
