.card {
    border-radius: 5px;
    background-color: black;
    height: 400px;
    width: 70%;
    box-shadow: 0px 0px 30px red;
    padding: .25rem;
}

.container {
    display:flex;
    justify-content: center;
}

.container button {
    border: 1px solid red;
    background-color: black;
    color:white;
    border-radius: 5px;
    padding: .5rem;
    /* width:400px; */
}

.container button:hover {
    background-color: red;
    border: 1px solid white;
}

.container form {
    color: red;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: flex-start;
    align-items: center;
    height:400px;
}

.container input {
    width: 400px;
    margin-bottom: 25px;
    border: 3px solid red;
    border-radius: 5px;
    outline-width: 0;
}

.container label {
    font-size: 2.5em;
    padding-bottom: 4.5rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.random {
    margin-top:3rem;
    display:flex;
    align-items: baseline;
    position:relative;
}

.random button {
    margin-right: 1rem;
}

.random p {
    font-size: 1.25rem;
}

.random p:first-of-type:hover{
    cursor: pointer;
}

.random p:hover + .tooltip {
    display: block;
    opacity: 1;
    transition: opacity .55s ease-in .5s;
}

.tooltip {
    position:absolute;
    right: -250px;
    bottom: 10px;
    opacity:0;
    background-color: rgb(21, 21, 21);
    height:125px;
    width:200px;
    border-radius: 5px;
}

.tooltip-message {
    font-style: italic;
    font-family: Apple Chancery, cursive;
    font-size: 1.25rem;
}

.tooltip:hover, .tooltip-message:hover {
    cursor:default !important;
}
