.container {
    position:absolute;
    top: 50%;
    height: 20px;
    width: 75%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 50px;
}

.container h3 {
    position: relative;
}

.label {
    padding: 5;
    color: white;
    font-weight: 'bold';
}