.text {
  font-size: 1rem;
}

.ticker {
  height: 50px !important;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 430px) {
  .text {
    font-size: 0.8em;
  }
}
